.btn.disabled, .btn:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.form-control:focus, .form-control:hover {
  border-color: #ced4da;
  outline: 0;
  box-shadow: none;
}

.custom-class-wrapper{
  .react-grid-Grid{
    border: none;
  }
  .react-grid-HeaderCell {
    background-color: #e0e2e0;
    border: none;
    border-right: 1px solid white;
    color: #000000;
    font-size: 13px;
    font-weight: 600;

    &:last-child{
      border-left: none;
    }

    .widget-HeaderCell__value, .react-grid-HeaderCell-sortable{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .react-grid-Row{
    .react-grid-Cell{
      background-color: transparent;
      border: none;
      border-right: 1px solid white;
      color: #4d4d4d;
      font-size: 12px;
      font-weight: 400;

      &:last-child{
        border-left: none;
      }
    }
    &.react-grid-Row--even{
      background-color: #f6f6f6;
    }
  }
}

.pagination__wrap{
  float: right;
  .pagination{
    height: 35px;

    .pagination__item{
      &:hover, &:active, &:focus{
        outline: none;
      }
      .pagination__link--arrow{
        padding: 4px 5px;
        outline: none;
        color: #00b0ec !important;
        &:hover{
          background-color: #00b0ec !important;
          border-color: #00b0ec;
          box-shadow: none;
          color: white !important;
        }
      }
      .page-link{
        line-height: 1;
        color: #282828;
        &:hover{
          background-color: #00b0ec;
          border-color: #00b0ec;
          box-shadow: none;
          color: white;
        }
      }
    }
  }
  .page-item{
    &.active{
      .page-link{
        background-color: #00b0ec;
        border-color: #00b0ec;
        color: white;
        box-shadow: none;
      }
    }
  }
  .pagination-info{
    display: none;
  }
}

.checkbox-wrapper{
  display: inline-block;

  .checkbox-container{
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
    display: inline-block;

    &:hover{
      .checkmark{
        background-color: #20c83a;
      }
    }
    .checkmark{
      position: absolute;
      top: 3px;
      left: 0;
      height: 18px;
      width: 18px;
      background-color: #dadada;
      border-radius: 2px;

      &:after{
        content: "";
        position: absolute;
        display: none;
        left: 7px;
        top: 3px;
        width: 5px;
        height: 9px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }

    .form-check-label {
      color: #000000;
      font-size: 14px;
      font-weight: 400;
    }

    .custom-checkbox{
      position: absolute;
      opacity: 0;
      cursor: pointer;

      &:checked{
        ~.checkmark{
          background-color: #20c83a;

          &:after{
            display: block;
          }
        }
      }
    }
  }
}

input:disabled, select:disabled, textarea:disabled {
  background-color: #eeeeee !important;
  cursor: not-allowed;
}

.admin-container {

  h3 {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
  }

  .rdg-cell-action-button {
    .lnr {
      font-size: 18px;
      color: #c5c5db;
      cursor: pointer;
    }
  }

  .top-panel-button {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #72bb38;
    background-color: #72bb38;
    color: #ffffff;
    font-weight: 700;
    padding: 10px 15px;
    float: right;
  }

  .rdg-cell-action-button .mdi-icon {
    color: #a7a8a7;
    margin-top: 10px;
    cursor: pointer;
  }
}

.react-grid-Container .react-grid-HeaderCell-sortable {

  cursor: pointer;
  width: 80%;
  span {
    float: right;
  }
}

.empty-label {
  min-width: 50%;
}

.form__form-group-label {
  .required {
    color: #ec1b0d;
  }
}

.input-help {
  color: #727786;
  font-size: 12px;
  font-weight: 600;
  display: block;
}

.add-new-top-panel-button, .add-new-top-panel-button:hover, .add-new-top-panel-button:focus {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #00b0ec;
  background-color: #ffffff;
  color: #00b0ec;
  font-weight: 700;
  padding: 10px 30px;
  float: right;

  .mdi-icon {
    fill: #00b0ec;
    width: 19px;
    height: 19px;
    margin-top: -4px;
  }
}

.add-new-top-panel-button, .add-new-top-panel-button:hover, .add-new-top-panel-button:focus {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #00b0ec;
  background-color: #ffffff;
  color: #00b0ec;
  font-weight: 700;
  padding: 10px 30px;
  float: right;

  .mdi-icon {
    fill: #00b0ec;
    width: 19px;
    height: 19px;
    margin-top: -4px;
  }
}

.cancel-top-panel-button, .cancel-top-panel-button:hover, .cancel-top-panel-button:focus {
  height: 40px;
  border-radius: 5px;
  font-weight: 700;
  padding: 10px 30px;
  float: right;
  border: 1px solid #d0021b;
  color: #d0021b;
  background-color: #ffffff;

  .mdi-icon {
    fill: #d0021b;
    width: 19px;
    height: 19px;
    margin-top: -4px;
  }
}

.custom-toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  input {
    display: none;

    &:checked{
      +.custom-toggle-slider {
        background-color: #4ccb1d !important;
        border-color: #4ccb1d !important;

        &:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }
      }
    }
    &:focus{
      + .custom-toggle-slider {
        box-shadow: 0 0 1px #4ccb1d;
      }
    }
  }

  .custom-toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50px;

    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 30px;
    }
    &.round {
      border-radius: 34px;
      background-color: #aeaeae;
      border: 2px solid #aeaeae;
      &::before {
        border-radius: 50%;
      }
    }
  }
}

.error-label {
  color: red;
  max-width: 288px;
  font-size: 12px;
}

.custom-scroll-bar{
  .track-vertical{
    background-color: #50514f;
    height: 120px;
    right: 2px;
    bottom: 2px;
    border-radius: 3px;
  }
  .thumb-vertical{
    background-color: #a7a8a7;
    width: 6px;
    height: 61px;
    border-radius: 20px;
  }
}
.rdrCalendarWrapper{
  .rdrDateDisplayWrapper{
    display: none;
  }
  .rdrStartEdge, .rdrDay, .rdrInRange, .rdrEndEdge, .rdrSelected, .rdrDayStartPreview{
    color: #20c83a !important;
  }

  .rdrDayNumber{
    span{
      &:after{
        background: #20c83a !important;
      }
    }
  }
}

.grid-row {
  padding: 0px 0px 2px 0px;
  border-bottom: 1px solid #eeeeee;
  margin: 0px 3px 0px 3px;
}

.name-directory-front-topbar {
  background-color: #322f2e !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  border-color: transparent;
  top: 0;
  border-width: 0 0 1px;
}

.name-directory-header {
  padding-bottom: 90px;

  .navbar-brand {
    display: inline-block;
    padding-top: 0.6125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }

  .navbar-right {
    float: right;
    right: 0px;
    position: absolute;
  }

  ul{
    float: right;
    margin: 0;
    margin-bottom: 0;
    list-style: none;
    display: block;
    padding: 11px 10px 10px 10px;

    li {
      float: left;
      padding: 0px 5px 0px 5px;
    }
  }

  .header-search-container input {
    border: 1px;
    border-style: solid;
    border-radius: 4px 0px 0px 4px;
    float: left;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.72857143;
    color: #eadfdf;
    background-color: #505050;
    border: 1px solid #5c5e5e;
    border-right: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    width: 200px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
  }

  .header-search-btn {
    float: left;
    background-color: #983365;
    border-radius: 0px 4px 4px 0px;
    float: left;
    padding: 9px 12px;
    margin-right: 10px;
    background: #505050;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #5c5e5e;
    color: #eadfdf;
    border-left: none;
  }
}

.menu-button {
  background: linear-gradient(#2EAA63, #3eaf6e);
  color: #ffffff !important;
  line-height: 26px;
  cursor: pointer;
  outline: none;
  transition: .2s;
  min-width: 75px;
  text-align: center;
  font-weight: 500;
  border-radius: 4px;
  padding: 5px 10px 5px 10px;
  margin: 0px 3px 0px 0px;
  float: right;
  text-decoration: none;
  font-size: 15px;
  border: 1px solid #656060;
}

.menu-button-girl {
  background: linear-gradient(#B0457B, #874377);
}

.home-content-box {
  background-color: #eeeeee;
}

.home-content-box-left {
  float: left;
  width: 100%;
  min-height: 350px !important;
  background-color: #ffffff;
  padding: 60px 50px 10px 50px;
  margin: 0px 10px 0px 0px;
  border: 1px solid;
  border-color: #dddddd;

  h1 {
    font-family: roboto,Arial;
    font-weight: bold;
    font-size: 40px;
    padding: 0px 10px 10px 0px;
    margin: 0px 10px 0px 0px;
  }
}

.home-alphabet {

  display: grid;

  li {
    a.main-alphabet-key {
      width: 160px;
    }

    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
}

.home-alphabet-boys {
  ul {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }

  li a {
    float: left;
    color: #ffffff;
    font-weight: bold;
    background-color: #2EAA63;
    padding: 5px 10px 5px 10px;
    margin: 0px 3px 3px 0px;
    width: 30px;
    text-align: center;
    border-radius: 2px;

    &.active {
      background-color: #FFFFFF;
      color: #2EAA63;
      border: 2px solid #2EAA63;
      padding: 3px 8px 3px 8px;
    }
  }
}

.home-alphabet-girls {

  padding: 0px 0px 0px 0px;
  margin: 20px 0px 20px 0px;

  ul {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }

  li a {
    float: left;
    color: #ffffff;
    font-weight: bold;
    background-color: #B0457B;
    padding: 5px 10px 5px 10px;
    margin: 0px 3px 3px 0px;
    width: 30px;
    text-align: center;
    border-radius: 2px;

    &.active {
      background-color: #FFFFFF;
      color: #B0457B;
      border: 2px solid #B0457B;
      padding: 3px 8px 3px 8px;
    }
  }
}

.name_search_container {
  padding: 20px 20px 20px 20px;
  border: 1px solid;
  border-color: #cccccc;
  overflow: hidden;
  color: #eeeeee;
  background-color: #C14684;

  h3 {
    color: #ffffff;
  }

  .seach_field {
    border-radius: 4px;
    border: 4px solid;
    border-color: #983365;
  }
  
  .name_search_input {
    color: #161616;
    background-color: #eeeeee;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 0px 0px;
    width: 70%;
    border-width: 0px;
  }

  .name_search_button {
    font-size: 20px;
    color: #eeeeee;
    padding: 6px 0px 9px 0px;
    margin: 0px 0px 0px 0px;
    width: 30%;
    border-width: 0px;
    float: right;
    background: linear-gradient(#B0457B, #874377);
  }

  img {
    width: 160px;
  }
}

.front-footer {
  margin-top: 20px;
  background-color: #32302e;
}

.footer-text {
  color: #a0a0a0 !important;
}

.footer-set {

  li {
    padding: 8px 0px 8px 0px;
    border-color: #928787;
    border-width: 0px 0px 1px 0px;
    border-style: dotted;
    text-decoration: none;

    a {
      text-decoration: none;
      color: #eeeeee !important;
    }
  }
}

.name-header {
  background-color: #eeeeee;
  margin: 10px 0px 10px 0px;
  padding: 10px 10px 10px 10px;

  h1 {
    font-weight: bold;
    font-size: 30px;
    padding: 0px 0px 0px 0px;
    margin: 0px 10px 0px 0px;
    line-height: 32px;
  }

  a {
    color: #000000;
  }
}

.names-detail-icon {
  width: 100%;
  height: 75px;
  background-color: #F9F9F9;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  background-image: url(/img/name_details_bar.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.names-detail-icon-left {
  padding: 10px 15px 0px 18px;
  float: left;

  img {
    width: 32px;
  }
}

.names-detail-icon-right {
  font-size: 15px;
  color: #333333;
  font-weight: bold;
  float: left;
  text-align: left;
  padding: 18px 0px 0px 0px;
}

.name-row {
  text-align: left;
  width: 100%;
  margin: 0px 0px 2px 0px;
  padding: 10px 0px 10px 0px;
  border-color: #cccccc;
  border-width: 0px 0px 1px 0px;
  border-style: dotted;
}

.name-row-name {
  float: left;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  width: 140px;
  padding: 0px 0px 0px 10px;
}

.name-row-trns {
  float: left;
  text-align: right;
  width: 80px;
  font-size: 16px;
  font-weight: bold;
  padding: 0px 10px 0px 0px;
}

.name-row-mean {
  float: left;
  text-align: left;
  width: 330px;
  font-size: 14px;
  padding: 0px 10px 0px 10px;
}

.boys {
  color: #8EB101 !important;
}

.girls {
  color: #B0457B !important;
}

.mean-left-column {
  float: left;
  padding: 0px;
  margin: 0px;
}

.mean-container-name {
  text-align: center;
  width: 100%;
  padding: 30px 0px 30px 0px;
  margin: 0px 0px 0px 0px;
  background-color: #eeeeee;
}


.mean-container {
  padding: 10px 10px 0px 10px;
  margin: 0px 0px 0px 0px;
}

.mean-navigation {
  width: 100%;
  padding: 0px 10px 0px 10px;
  margin: 0px 0px 0px 0px;
}

.mean-navigation-body {
  width: 100%;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  background-color: #eeeeee;
  display: inline-block;
}

.mean-navigation-next {
  width: 50%;
  float: right;
  text-align: right;
  padding: 10px 15px 10px 0px;
  margin: 0px 0px 0px 0px;
  background-color: #dddddd;

  .float-right {
    float: right;
  }

  .fa {
    font-size: 36px;
    padding: 0px 0px 0px 15px;
  }
}

.mean-navigation-prev {
  width: 50%;
  float: left;
  padding: 10px 0px 10px 15px;
  margin: 0px 0px 0px 0px;
  background-color: #dddddd;

  .float-left {
    float: left;
  }

  .fa {
    font-size: 36px;
    padding: 0px 15px 0px 0px;
  }
}

.mean-navigation-name {
  font-size: 20px;
  font-weight: bold;
  padding: 0px 0px 0px 0px!important;
  margin: 0px 0px 0px 0px!important;
}

.mean-body {
  padding: 10px 10px 15px 0px;
  font-size: 18px;

  p {
    margin-top: 10px;
  }
}

.mean-names-girl {
  color: #ffffff;
  background-color: #C66997;
  float: left;
  width: 49%;
  text-align: center;
  padding: 10px 0px 10px 0px;
  height: 100%;

  a {
    color: #ffffff;
  }
}

.mean-names-boy {
  color: #ffffff;
  background-color: #99CC00;
  float: right;
  width: 49%;
  text-align: center;
  padding: 10px 0px 10px 0px;
  height: 100%;

  a {
    color: #ffffff;
  }
}

.mean-cat-box-container {
  display: flow-root;
}

.display-block {
  display: inline-block;
}

.btmFooter {
  p {
    color: #ffffff !important;
    margin-top: 20px;
    font-size: 14px;
  }
}

.language-set {
  p {
    line-height: 12px;
  }
}