.topbar__button-icon{
  width: 20px;
}
.sidebar__link-icon{
  color: white;
}
.sidebar__profile {
    padding: 25px;
    padding-bottom: 0px;
   &--img {
        width: 72px !important;
        height: 72px !important;
        margin-top: 25px !important;
        margin-bottom: 20px !important;
   };

   &--name {
        width: 170px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
   };

   &--post {
        width: 170px;
        height: 23px;
        color: #a7a8a7;
        font-size: 16px;
        font-weight: 400;
        margin-top: 5px;
   }

   .logout_btn {
     border-radius: 5px;
     background-color: #72bb38 !important;
     margin-top: 30px;
     border-color: white !important;
     padding: 9px 25px;
     width: max-content;
     font-weight: 700;

     &:hover{
       background-color: #0b9e0f !important;
       border-color: #0b9e0f !important;
     }
   }
}

.sidebar__wrapper {
  &--chevron{

  }
  .sidebar__link{
    &.custom_sidebar_link{
      height: 44px;
      &:before{
        background: #72bb38;
      }

      .sidebar__link-icon{
        margin-top: 4px;
        font-size: 24px;
      }
    }
  }
  .sidebar__link-active{
    background: #72bb38;
  }
}

@media screen and (min-width: 576px){
  .theme-light .sidebar.sidebar--collapse .sidebar__link:hover {
    background: #0b9e0f;
  }
}
